.error-panel {
	margin: 16px auto;
	color: tomato;
	box-shadow: 2px 2px 6px tomato;
	width: 100%;
	padding: 30px;
	white-space: pre-line;
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
}

.error-panel__message {
	padding: 0 16px;
}

.error-panel__icon-container {


	text-align: center;
}


.error-panel__icon {
	margin: 0 auto;
	animation: 2s ease-in-out infinite move-emoji;
}

@keyframes move-emoji {
	0% {
		transform: rotate(0deg);
	}

	15% {
		transform: rotate(-20deg‬);
	}

	30% {
		transform: rotate(-45deg);
	}

	45% {
		transform: rotate(-10deg);
	}

	60% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(40deg);
	}

	100% {
		transform: rotate(0deg);
	}
}