.location-search {
    /* border: 1px solid darkgoldenrod; */
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    align-items: stretch; */
}

.location-search__container {
	margin: 0 auto;
    position: relative;
    display: block;
    width: 50%;
    min-width: 400px;
}

.location-search__input {
	font-size: 1.8em;
	margin: 1px;
    border: none;
	padding: 1em 16px 10px 16px;
	background-color: inherit;
	border: 2px solid var(--color-green-medium);
	border-radius: 20px;
	color: var(--color-green-medium);
	font-family: inherit;
	outline: none;
}

.location-search__input:focus {
	border-color: var(--color-green-dark);
	border-width: 3px;
	margin: 0px;
}

.location-search__input:focus + .location-search__label {
    top: 0;
	font-size: 1em;
	color: var(--color-green-dark);
}

.location-search__input:focus + .location-search__label .location-search__label-text {
    padding-top: 5px;
    padding-bottom: 0;
}

.location-search__input:valid + .location-search__label {
    top: 0;
    font-size: 1em;
	color: var(--color-green-dark);
}

.location-search__input:valid + .location-search__label .location-search__label-text {
    padding-top: 5px;
    padding-bottom: 0;
}

.location-search__label {
    position: absolute;
    top: calc(50% - 0.5em - 5px);
    left: 0;
    font-size: 1.8em;
    color: var(--color-green-medium);
    transition: all 1s;
}

.location-search__label-text {
    padding: 10px 16px;
}

.location-search__gps {
    font-size: 1.8em;
    background-color: inherit;
    min-width: 1.8em;
    padding: 5px;
    margin-left: 16px;
    border: none;
}