.weather-long-term {
	margin: 0 auto;
	padding: 0 30px;
	width: 100%;
	max-width: 100%;
	min-height: 300px;
}

.weather-long-term__missing-location {
	padding: 10px 30px;
	text-align: center;
	background-color: var(--color-secondary);
}

.weather-long-term__container {
	padding: 0 10px;
	width: 100%;
	box-shadow: 2px 2px 6px var(--color-main);
}

.weather-long-term__container > div {
	padding-inline-end: 75px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	text-align: center;
}

.weather-long-term__col {
	font-size: 0.9em;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
	text-align: center;
}

.weather-long-term__col:nth-child(odd) {
	background-color: rgb(243, 242, 242);
}

.weather-long-term__col:hover {
	background-color: var(--color-secondary);
}

.weather-long-term__col-img {
	margin: 0 auto;
	max-width: 100px;
	min-width: 75px;
	border: 1px solid var(--color-main);
	font-size: 0.8em;
	background-color: rgba(219, 219, 219, 0.8);
}

.weather-long-term__col-img p {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.weather-long-term__tooltip::first-letter {
	text-transform: uppercase;
}