.weather-today-details {
	color: black;
	font-size: 0.9em;
}

.weather-today-details__spinner {
	margin: 3em auto;
	text-align: center;
}

.weather-today-details__date {
	align-self: flex-end;
	font-size: 0.6em;
	width: 100%;
	text-align: end;
}

.weather-today-details__table {
	box-shadow: 2px 2px 6px var(--color-main);
	margin: 16px auto;
	padding: 16px;
}

.weather-today-details__cell {
	padding: 5px 10px;
	border-bottom: 1px solid var(--color-main);	
	font-weight: 900;
}

.weather-today-details__cell::first-letter {
	text-transform: uppercase;
}