.location-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-search__container {
	margin-bottom: 16px;
	background-color: var(--color-secondary);
	padding: 0px 2em 5px 2em;
	width: 100%;
	
}

.location-search__input-container {
	margin: 0 auto;
	border-bottom: 2px solid var(--color-main);
	width: 80%;
	min-width: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.location-search__gps {
	max-width: 65px;
	max-height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: inherit;
    padding: 5px;
	border: none;
	color: var(--color-main);
}

.location-search__gps svg {
	max-width: 30px;
	max-height: 30px;
	fill: var(--color-main);
}