.location-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-search__container {
    display: block;
    min-width: 400px;
}

.location-search__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-main);
    margin-bottom: 16px;
}

.location-search__gps {
	max-width: 65px;
	max-height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: inherit;
    padding: 5px;
	border: none;
	color: var(--color-main);
}

.location-search__gps svg {
	max-width: 30px;
	max-height: 30px;
	fill: var(--color-main);
}