.footer {
	border-top: 1px solid purple;
	width: 100%;
}

.footer__container {

	margin: 0 auto;
	max-width: var(--width-max);
	min-height: var(--height-footer);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}