.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.App__main {
  margin: 0 auto;
  height: calc(100% - var(--height-header) );
  width: 100%;
  max-width: var(--width-max);

  border: 1px dashed whitesmoke;
}

.App__footer {
  border-top: 2px solid purple;
  width: 100%;

}

.App__footer__container {
border: 1px dotted darkseagreen;

  margin: 0 auto;
  max-width: var(--width-max);
  height: var(--height-footer);
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App__footer-powered-by-dark-sky {
  height: 100%;
}

.App__footer-powered-by-dark-sky img {
  max-height: 100%;
}