:root {
  --width-max: 1300px;
  --height-header: 80px;
  --height-footer: 80px;

  --color-bg: #fff;
  --color-main: palevioletred;
  --color-secondary: papayawhip;

  --font-family: Brush Script MT, Brush Script Std, cursive;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}